body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #121212; /* Dark mode background */
    color: #ffffff; /* Light text for dark mode */
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #282c34;
    color: white;
    padding: 10px 0;
    width: 100%;
}

.home-button {
    color: white;
    text-decoration: none;
    font-size: 24px;
}

.header-center input {
    width: 400px;
    padding: 5px;
}

.header-right {
    display: flex;
    align-items: center;
}

.header-right #username {
    margin-right: 10px;
    font-size: 18px;
}

.header-right .avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
}

#main {
    border: 2px solid rgb(56, 56, 56); 
    border-radius: 2px; padding: 10px; 
    margin-top: 20px;
    align-items: left;
}

#video-preview {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

#video-player {
    margin-right: 20px;
}

input[type="text"]{
    background-color: rgb(40, 39, 39); color: white; margin-bottom: 10px; margin-right: 0px;
}

#video-info{
    margin-bottom: 10px;
    margin-left: 20px;
}

#upload-form{
    margin-top: 10px;
}

textarea {
    width: 600px;
    background-color: rgb(40, 39, 39);
    color: white;
    margin-bottom: 10px;
    padding: 10px;
    resize: none; /* Prevent resizing */
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 1.5;
    border: 1px solid rgb(56, 56, 56); 
    border-radius: 4px;
    box-sizing: border-box;
    cursor: text;
}

.char-counter {
    text-align: right;
    font-size: 12px;
    color: #a1a1a1;
    margin-top: -10px;
    margin-bottom: 10px;
}
